/*
Theme Name: Kapantzak blog
Theme URI:
Author: John Kapantzakis
Author URI: https://kapantzakis.gr/
Description: A simple blog theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

body {
  background-color: #fafafa;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
  z-index: 500;
}

#logoHolder {
  padding: 10px 0;
}

#logoHolder,
#mainNavigation,
#categoriesMenu {
  background-color: #fff;
}

#mainNavigation a {
  color: #555;
}

#categoriesMenu {
  padding: 25px 0;
  display: none;
  /* clip-path: ellipse(10% 10% at 50% -10%);
  transition: clip-path 0.5s ease-in-out, opacity 0.1s ease-in-out 0.4s;
  opacity: 0; */
}

#categoriesMenu.opened {
  display: block;
  /* opacity: 1;
  clip-path: ellipse(100% 100% at 50% 50%);
  transition: clip-path 0.5s ease-in-out, opacity 0.1s ease-in-out 0s; */
}

.category-list dt {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

#content {
  position: relative;
  top: 100px;
}

.card.post-card {
  border: none;
  background: #fff;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5); */
}

.post-card .card-footer {
  background: #fff;
}

#mainFooter {
  padding: 50px 0;
  background-color: #e1e2e5;
}
